<div class="container fixed-bottom">
  <div class="row">
    <div class="col-md-12">
      <footer class="py-3 my-5 bs-dark-subtle border-bottom">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/company/upod-dijital-gelecek-toplulugu/mycompany/"
              class="nav-link px-2 text-body-secondary">Visit LinkedIn</a></li>
          <li class="nav-item"><a href="https://upod.dev/" class="nav-link px-2 text-body-secondary"> Visit UPoD</a></li>
        </ul>
        <p class="text-center text-body-secondary">© Uğur Çetinkaya, UPoD Community</p>
      </footer>
    </div>
  </div>
</div>