{% extends 'core/base.html' %}

{% block title %} Blog Register{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Giriş Yap</h3>
        <hr>
        <form method="post">
            {% csrf_token %}

            {{form.as_p}}
            <br>
            <button type="submit" class="btn btn-danger">Login</button>
        </form>
        <hr>
        <a class="btn btn-primary active" role="button" aria-disabled="true" href="{% url 'register' %}">Hesabiniz
            Don't have account yet ?</a>


    </div>
</div>

{% endblock content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form>
                <div class="row">
                    <div class="col">
                        <label for="InputUserName">Nick Name</label>
                        <input type="text" class="form-control" placeholder="User Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="InputName">Name</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label for="InputSurname">Surname</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never sell your data to anyone :3</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="emailHelp" class="form-text text-muted">Try to pick the strongest ^_^</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password Again">
                    <small id="emailHelp" class="form-text text-muted">Make sure they are the same ^_^</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Keep me inside ッ </label>
                </div>
                <button type="submit" class="btn btn-primary">Let me in (੭˃ᴗ˂)੭</button>
            </form>
        </div>
    </div>
</div>